.home-container
{
    padding-top: 2rem;
    background-color: #f2f2f2;
    .home-content-1, .home-content-2
    {
        font-family: san-fran-form-header;
        color: $dark-blue;
        text-align: center;
    }
    .row{
        margin-top: 2rem;
    }
}
.home-image-container {
    position: relative;
    overflow: hidden;
    .img-fluid {
        border: 1rem solid #ffffff;
        background-color: #f2f2f2;
        border-radius: 20px;
        height: auto;
        float: right;
    }
    img {
        height: auto;
        border-radius: 20px;
        transition: transform 0.5s ease-out, filter 0.5s ease-out;
    }
    img:hover {
        transform: scale(1.2);
        filter: blur(1px);
    }
      
    .float-right {
        float: right;
    }
}