.signup-container 
{
    display: flex;
    // flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    // opacity: 0.5;
    background-image: url(../../../../public/image/signup-background.jpg);
    h1 {
        font-size: 1.5 rem;
        margin-bottom: 40px;
    }
    .recruiter-signup-form{
        width: 600px !important;
    } 
    .recruiter-signup-form label
    {
        width: 100%;
        text-align: left !important;
    }
    .signup-form{
        width: 450px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 2rem;
        // margin-left: 20%;
        h1 
        {
            color: $dark-blue;
            font-family: san-fran-form-header;
        }
        input 
        {
            font-size: 16px;
            padding: 10px;
            border-radius: $border-input;
            border: none;
            border: 1px solid #ccc;
            width: 100%;
            display: inline-block;
            
        }
        label 
        {
            font-size: 18px;
            display: inline-block;
        }
        button 
        {
            background-color: $blue;
            color: #ffffff;
            font-size: 1.1rem;
            padding: 10px 20px;
            border-radius: 1rem;
        }
    }
    .signup-form_hide{
        width: 400px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 2rem;
        margin-left: 20%;
        h1 
        {
            color: $dark-blue;
            font-family: san-fran-form-header;
        }
        input 
        {
            font-size: 16px;
            padding: 10px;
            border-radius: $border-input;
            border: none;
            border: 1px solid #ccc;
            width: 100%;
            display: inline-block;
            
        }
        label 
        {
            font-size: 18px;
            display: inline-block;
        }
        button 
        {
            background-color: $blue;
            color: #ffffff;
            font-size: 1.1rem;
            padding: 10px 20px;
            border-radius: 1rem;
        }
    }
}
// .oval-container
// {
//     color: white;
//     font-family: san-fran-form-header;
//     width: 100%;
//     margin-left: 10%;
//     margin-right: 10%;
//     background-color: $dark-blue;
//     padding: 2rem;
//     border-radius: 50%;

//     h1 {
//         font-size: 2 rem;
//         overflow: hidden; /* Ẩn phần bị tràn ra ngoài */
//         animation: running 5s linear infinite; 
//     }
// }

@media (max-width: 1115px) {
    .signup-form
    {
        width: 400px !important;
    }
    .recruiter-signup-form{
        width: 400px !important;
    }
}
@media (max-width: 600px) {
    .signup-form
    {
        width: 300px !important;
    }
    .recruiter-signup-form{
        width: 300px !important;
    }
    .signup-container 
    {
        height: auto;
    }
}


