.info_cv_item-content{
    width: 400px !important;
}

.info-cv-container 
{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 70vh;

    h3 {
        font-size: 1.5 rem;
        margin-bottom: 40px;
    }

    .info-cv-form{
        width: 400px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 2rem;
        
        h3
        {
            color: $dark-blue;
            font-family: san-fran-form-header;
        }
        input 
        {
            font-size: 16px;
            padding: 10px;
            border-radius: $border-input;
            border: none;
            border: 1px solid #ccc;
            width: 100%;
            display: inline-block;
            
        }
        label 
        {
            display: block;
            width: 100%;
            height: 100%;
            margin-left: 0;
            text-align: left;
        }
        select
        {
            display: block;
            width: 100%;
            height: 115%;;
        }
        textarea{
            height: 100px;
        }
    }
}

