// Colors
$light-blue: #74D0DA;
$dark-blue: #104271;
$dark-blue-1: #0e4274;
$deep-blue: #0b1e3f;
$blue: #1468a2;
$deep-blue-1: rgb(9 43 74);
$light-blue-2: #a9fcff;
$light-blue-3: #d4feff;
$dark-blue-1: #2f3b44;
$porcelain: #E1E6E6;
$narbav: #7dacce;
$outer-space: #293536;
$brown-icon: #b6b6b6;

// form 
$border-input: 0.5rem;
